.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: solid 2px maroon;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

.list-item__value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-item__price {
  color: maroon;
  font-weight: bold;
}

.list-item__quantity {
  font-weight: bold;
  margin-left: 5rem;
  border: solid 1px rgb(176, 176, 176);
  padding: 0.1rem 0.75rem;
  border-radius: 0.5rem;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dec {
  background-color: transparent;
  border: solid 2px maroon;
  padding: 0;
  margin-left: 0.25rem;
  color: maroon;
  font-weight: bolder;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  width: 3.5rem;
}

.dec:hover {
  background-color: maroon;
  color: whitesmoke
}

.inc {
  background-color: transparent;
  border: solid 2px maroon;
  padding: 0;
  margin-left: 0.25rem;
  color: maroon;
  font-weight: bolder;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  width: 3.5rem;
}

.inc:hover {
  background-color: maroon;
  color: whitesmoke
}